.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 500px;
}
.search-input {
  width: 90%;
  font-size: 20px;
  height: 36px;
  border-radius: 6px;
}
.suggestion-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid;
  border-radius: 6px;
  margin-top: 10px;
}
.suggestion-item {
  cursor: pointer;
  border-bottom: 0.5px solid;
  padding: 6px;
}
.suggestion-item:hover {
  background: rgb(227, 224, 224);
}
